body {
  top: 0px
  bottom: 0px;
  background-color:grey; /* general page background color TBD */
}

.background {
  fill: green; /* map area background color */
  pointer-events: all;
  height: 100%;
  width: 100%;
}

#titlebar {
  font-size: 50px;
  padding: 5px;
}

svg {
  height: 100%;
  width: 100%;
}

.roundedcorners {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 5px;
}

.roundedcornersmap {
  border-radius: 15px;
}

#columnleft {
  float: left;
  width: 70%;
  height: 100vh;
}

#columnright {
  float: left;
  width: 25%;
  height: 100vh;
}

.countries{
  fill: #cde;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.noflagcountry{
  fill: black;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.misingbothcountry{
  fill: red;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.nodatacountry{
  fill: green;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.selected {
  fill: #89a;
}

pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}

/* Clear floats after the columns */
/* .roundedcorners:after {
  content: "";
  display: table;
  clear: both;
} */
