body {
  top: 0px
  bottom: 0px;
  background-color:grey; /* general page background color TBD */
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#flagdisplay {
  height:200px;
  overflow:auto;
}

.country.selected:hover {
    fill: red;
    opacity:1;
}
.country:hover {
    fill: red;
    opacity: 0.3;
}

.background {
  fill: grey; /* map area background color */
  pointer-events: all;
  height: 100%;
  width: 100%;
}

#landmasschoices {
  opacity: 0.7;
  font-size: 12px;
}

#titlebar {
  font-size: 50px;
  padding: 5px;
}

#flag_details {
  background-color: lightgrey; /* tbd */
}

svg {
  height: 100%;
  width: 100%;
}

.roundedcorners {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 5px;
}

.roundedcornersmap {
  border-radius: 15px;
}

#columnleft {
  float: left;
  width: 70%;
  height: 100vh;
}

#columnright {
  float: left;
  width: 25%;
  height: 100vh;
}

.country{
  fill: #cde;
  stroke: grey;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.selected {
  fill: #89a;
}

.map-overlay {
  position: absolute;
  padding: 10px;
}

.map-button {
   width: auto;
   height: 30px;
   font-weight: bold;
   background-color: white;
   opacity: 0.5;
   color: black;
   border: 1px;
   font: 10px Arial;
   border-radius: 15px;
   display: block;
   outline: none;
 }

.map-button:active {
   background-color: grey;
}

pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}
